<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon -->
    <script src="https://kit.fontawesome.com/5e7d2a297a.js" crossorigin="anonymous"></script>
    <!-- Css -->
    <link rel="stylesheet" href="../styles/component4.css">

    <title>Document</title>
</head>

<body>
    <div class="wrapper-content">
        <div class="wrapper-content-top">
            <div class="wrapper-content-top-item">
                <div class="item-left">
                    <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/e/5/c/9/e5c9d137a0f23eb4b5106ee9fcbfa40b.jpg"
                        alt="">
                    <div class="item-left-background">
                        <i class="fas fa-play fa-2x"></i>
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-right-top">
                        <p>Cứ tưởng thế nào</p>
                        <p>Phương Ly</p>
                    </div>
                    <div class="item-right-bottom">
                        <span>#1</span>
                        <p>14.03.2020</p>
                    </div>
                </div>
            </div>
            <div class="wrapper-content-top-item">
                <div class="item-left">
                    <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/e/5/c/9/e5c9d137a0f23eb4b5106ee9fcbfa40b.jpg"
                        alt="">
                    <div class="item-left-background">
                        <i class="fas fa-play fa-2x"></i>
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-right-top">
                        <p>Cứ tưởng thế nào</p>
                        <p>Phương Ly</p>
                    </div>
                    <div class="item-right-bottom">
                        <span>#1</span>
                        <p>14.03.2020</p>
                    </div>
                </div>
            </div>
            <div class="wrapper-content-top-item">
                <div class="item-left">
                    <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/e/5/c/9/e5c9d137a0f23eb4b5106ee9fcbfa40b.jpg"
                        alt="">
                    <div class="item-left-background">
                        <i class="fas fa-play fa-2x"></i>
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-right-top">
                        <p>Cứ tưởng thế nào</p>
                        <p>Phương Ly</p>
                    </div>
                    <div class="item-right-bottom">
                        <span>#1</span>
                        <p>14.03.2020</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-content-bottom">
            <div class="wrapper-content-bottom-item">
                <div class="bottom-item-left">
                    <div class="bottom-item-left-background">
                        <i class="fas fa-play fa-sm"></i>
                    </div>
                </div>
                <div class="bottom-item-right">
                    <h4>Thế Thái</h4>
                    <p>Phương Ly</p>
                </div>
                <div class="bottom-item-absolute">
                    <i class="far fa-heart fs-sm"></i>
                    <i class="fas fa-ellipsis-h fa-sm"></i>
                </div>
            </div>
            <div class="wrapper-content-bottom-item">
                <div class="bottom-item-left">
                    <div class="bottom-item-left-background">
                        <i class="fas fa-play fa-sm"></i>
                    </div>
                </div>
                <div class="bottom-item-right">
                    <h4>Thế Thái</h4>
                    <p>Phương Ly</p>
                </div>
                <div class="bottom-item-absolute">
                    <i class="far fa-heart fs-sm"></i>
                    <i class="fas fa-ellipsis-h fa-sm"></i>
                </div>
            </div>
            <div class="wrapper-content-bottom-item">
                <div class="bottom-item-left">
                    <div class="bottom-item-left-background">
                        <i class="fas fa-play fa-sm"></i>
                    </div>
                </div>
                <div class="bottom-item-right">
                    <h4>Thế Thái</h4>
                    <p>Phương Ly</p>
                </div>
                <div class="bottom-item-absolute">
                    <i class="far fa-heart fs-sm"></i>
                    <i class="fas fa-ellipsis-h fa-sm"></i>
                </div>
            </div>
            <div class="wrapper-content-bottom-item">
                <div class="bottom-item-left">
                    <div class="bottom-item-left-background">
                        <i class="fas fa-play fa-sm"></i>
                    </div>
                </div>
                <div class="bottom-item-right">
                    <h4>Thế Thái</h4>
                    <p>Phương Ly</p>
                </div>
                <div class="bottom-item-absolute">
                    <i class="far fa-heart fs-sm"></i>
                    <i class="fas fa-ellipsis-h fa-sm"></i>
                </div>
            </div>
            <div class="wrapper-content-bottom-item">
                <div class="bottom-item-left">
                    <div class="bottom-item-left-background">
                        <i class="fas fa-play fa-sm"></i>
                    </div>
                </div>
                <div class="bottom-item-right">
                    <h4>Thế Thái</h4>
                    <p>Phương Ly</p>
                </div>
                <div class="bottom-item-absolute">
                    <i class="far fa-heart fs-sm"></i>
                    <i class="fas fa-ellipsis-h fa-sm"></i>
                </div>
            </div>
            <div class="wrapper-content-bottom-item">
                <div class="bottom-item-left">
                    <div class="bottom-item-left-background">
                        <i class="fas fa-play fa-sm"></i>
                    </div>
                </div>
                <div class="bottom-item-right">
                    <h4>Thế Thái</h4>
                    <p>Phương Ly</p>
                </div>
                <div class="bottom-item-absolute">
                    <i class="far fa-heart fs-sm"></i>
                    <i class="fas fa-ellipsis-h fa-sm"></i>
                </div>
            </div>
            <div class="wrapper-content-bottom-item">
                <div class="bottom-item-left">
                    <div class="bottom-item-left-background">
                        <i class="fas fa-play fa-sm"></i>
                    </div>
                </div>
                <div class="bottom-item-right">
                    <h4>Thế Thái</h4>
                    <p>Phương Ly</p>
                </div>
                <div class="bottom-item-absolute">
                    <i class="far fa-heart fs-sm"></i>
                    <i class="fas fa-ellipsis-h fa-sm"></i>
                </div>
            </div>
            <div class="wrapper-content-bottom-item">
                <div class="bottom-item-left">
                    <div class="bottom-item-left-background">
                        <i class="fas fa-play fa-sm"></i>
                    </div>
                </div>
                <div class="bottom-item-right">
                    <h4>Thế Thái</h4>
                    <p>Phương Ly</p>
                </div>
                <div class="bottom-item-absolute">
                    <i class="far fa-heart fs-sm"></i>
                    <i class="fas fa-ellipsis-h fa-sm"></i>
                </div>
            </div>
            <div class="wrapper-content-bottom-item">
                <div class="bottom-item-left">
                    <div class="bottom-item-left-background">
                        <i class="fas fa-play fa-sm"></i>
                    </div>
                </div>
                <div class="bottom-item-right">
                    <h4>Thế Thái</h4>
                    <p>Phương Ly</p>
                </div>
                <div class="bottom-item-absolute">
                    <i class="far fa-heart fs-sm"></i>
                    <i class="fas fa-ellipsis-h fa-sm"></i>
                </div>
            </div>
            <div class="wrapper-content-bottom-item">
                <div class="bottom-item-left">
                    <div class="bottom-item-left-background">
                        <i class="fas fa-play fa-sm"></i>
                    </div>
                </div>
                <div class="bottom-item-right">
                    <h4>Thế Thái</h4>
                    <p>Phương Ly</p>
                </div>
                <div class="bottom-item-absolute">
                    <i class="far fa-heart fs-sm"></i>
                    <i class="fas fa-ellipsis-h fa-sm"></i>
                </div>
            </div>
            <div class="wrapper-content-bottom-item">
                <div class="bottom-item-left">
                    <div class="bottom-item-left-background">
                        <i class="fas fa-play fa-sm"></i>
                    </div>
                </div>
                <div class="bottom-item-right">
                    <h4>Thế Thái</h4>
                    <p>Phương Ly</p>
                </div>
                <div class="bottom-item-absolute">
                    <i class="far fa-heart fs-sm"></i>
                    <i class="fas fa-ellipsis-h fa-sm"></i>
                </div>
            </div>
            <div class="wrapper-content-bottom-item">
                <div class="bottom-item-left">
                    <div class="bottom-item-left-background">
                        <i class="fas fa-play fa-sm"></i>
                    </div>
                </div>
                <div class="bottom-item-right">
                    <h4>Thế Thái</h4>
                    <p>Phương Ly</p>
                </div>
                <div class="bottom-item-absolute">
                    <i class="far fa-heart fs-sm"></i>
                    <i class="fas fa-ellipsis-h fa-sm"></i>
                </div>
            </div>
            <div class="wrapper-content-bottom-item">
                <div class="bottom-item-left">
                    <div class="bottom-item-left-background">
                        <i class="fas fa-play fa-sm"></i>
                    </div>
                </div>
                <div class="bottom-item-right">
                    <h4>Thế Thái</h4>
                    <p>Phương Ly</p>
                </div>
                <div class="bottom-item-absolute">
                    <i class="far fa-heart fs-sm"></i>
                    <i class="fas fa-ellipsis-h fa-sm"></i>
                </div>
            </div>
            <div class="wrapper-content-bottom-item">
                <div class="bottom-item-left">
                    <div class="bottom-item-left-background">
                        <i class="fas fa-play fa-sm"></i>
                    </div>
                </div>
                <div class="bottom-item-right">
                    <h4>Thế Thái</h4>
                    <p>Phương Ly</p>
                </div>
                <div class="bottom-item-absolute">
                    <i class="far fa-heart fs-sm"></i>
                    <i class="fas fa-ellipsis-h fa-sm"></i>
                </div>
            </div>
            <div class="wrapper-content-bottom-item">
                <div class="bottom-item-left">
                    <div class="bottom-item-left-background">
                        <i class="fas fa-play fa-sm"></i>
                    </div>
                </div>
                <div class="bottom-item-right">
                    <h4>Thế Thái</h4>
                    <p>Phương Ly</p>
                </div>
                <div class="bottom-item-absolute">
                    <i class="far fa-heart fs-sm"></i>
                    <i class="fas fa-ellipsis-h fa-sm"></i>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
