<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon -->
    <script src="https://kit.fontawesome.com/5e7d2a297a.js" crossorigin="anonymous"></script>
    <!-- Css -->
    <link rel="stylesheet" href="../styles/component3.css">

    <title>Document</title>
</head>
<body>
    <div class="banner">
        <div class="banner-top">
            <div class="banner-top-item">
                <img src="https://static-zmp3.zadn.vn/skins/zmp3-v5.2/images/song-vn-2x.jpg" alt="">
            </div>
            <div class="banner-top-item">
                <img src="https://static-zmp3.zadn.vn/skins/zmp3-v5.2/images/mv-vn-2x.jpg" alt="">
            </div>
            <div class="banner-top-item">
                <img src="https://static-zmp3.zadn.vn/skins/zmp3-v5.2/images/web_song_usuk.png" alt="">
            </div>
            <div class="banner-top-item">
                <img src="https://static-zmp3.zadn.vn/skins/zmp3-v5.2/images/web_song_kpop.png" alt="">
            </div>
        </div>
        <div class="banner-main">
            <div class="banner-main-item">
                <div class="avatar-singer"></div>
                <div class="singer-content">
                    <a href="#"><span><i class="fas fa-star fa-sm"></i></span> Zing choice</a>
                    <p>Chi Dân</p>
                </div>
            </div>
            <div class="banner-main-item">
                <div class="avatar-singer"></div>
                <div class="singer-content">
                    <a href="#"><span><i class="fas fa-star fa-sm"></i></span> Zing choice</a>
                    <p>Chi Dân</p>
                </div>
            </div>
            <div class="banner-main-item">
                <div class="avatar-singer"></div>
                <div class="singer-content">
                    <a href="#"><span><i class="fas fa-star fa-sm"></i></span> Zing choice</a>
                    <p>Chi Dân</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>