<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon -->
    <script src="https://kit.fontawesome.com/5e7d2a297a.js" crossorigin="anonymous"></script>
    <!-- Style -->
    <link rel="stylesheet" href="../styles/component1.css">

    <title>Document</title>
</head>

<body>
    <div class="wrapper-contain">
        <div class="wrapper-top">
            <h4>Phố Vắng Người, Anh Nhớ Em</h4>
        </div>
        <div class="wrapper">
            <div class="component1">
                <div class="image-top">
                    <div class="background">
                        <i class="far fa-play-circle fa-3x"></i>
                    </div>
                    <img src="https://picsum.photos/200" alt="">
                </div>
                <a href="#">Nhạc Hàn Acoutis Cho Quán Cafe</a>
            </div>
            <div class="component1">
                <div class="image-top">
                    <div class="background">
                        <i class="far fa-play-circle fa-3x"></i>
                    </div>
                    <img src="https://picsum.photos/200" alt="">
                </div>
                <a href="#">Nhạc Hàn Acoutis Cho Quán Cafe</a>
            </div>
            <div class="component1">
                <div class="image-top">
                    <div class="background">
                        <i class="far fa-play-circle fa-3x"></i>
                    </div>
                    <img src="https://picsum.photos/200" alt="">
                </div>
                <a href="#">Nhạc Hàn Acoutis Cho Quán Cafe</a>
            </div>
            <div class="component1">
                <div class="image-top">
                    <div class="background">
                        <i class="far fa-play-circle fa-3x"></i>
                    </div>
                    <img src="https://picsum.photos/200" alt="">
                </div>
                <a href="#">Nhạc Hàn Acoutis Cho Quán Cafe</a>
            </div>
            <div class="component1">
                <div class="image-top">
                    <div class="background">
                        <i class="far fa-play-circle fa-3x"></i>
                    </div>
                    <img src="https://picsum.photos/200" alt="">
                </div>
                <a href="#">Nhạc Hàn Acoutis Cho Quán Cafe</a>
            </div>
        </div>
    </div>
</body>

</html>