<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/header.css">
    <!-- Icon -->
    <script src="https://kit.fontawesome.com/5e7d2a297a.js" crossorigin="anonymous"></script>
    <!-- Style -->
    <link rel="stylesheet" href="../styles/header.css">


    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="header-top">
            <a href="#"><img src="https://static-zmp3.zadn.vn/skins/zmp3-v5.2/images/logo-mp-3.svg" alt="Brand"></a>
            <div class="form-search">
                <button><i class="fas fa-search fa-lg"></i></button>
                <input type="text" placeholder="Nhập tên bài hát, ca sĩ hoặc mv...">
            </div>
            <div class="user">
                <div class="avatar"></div>
                <p>Đăng nhập</p>
                <button><i class="fas fa-chevron-down"></i></button>
            </div>
        </div>
        <nav class="header-main">
            <ul>
                <li class="header-main-item">
                    <a href="#">Trang chủ</a>
                </li>
                <li class="header-main-item">
                    <a href="#">#Zingchart</a>
                    <table class="toggle-table">
                        <tr>
                            <th>Realtime</th>
                            <th>Tuần</th>
                            <th>Us-Uk</th>
                            <th>K-Pop</th>
                        </tr>
                        <tr>
                            <td><a href="#">Bài hát</a></td>
                            <td><a href="#">Bài hát</a></td>
                            <td><a href="#">Bài hát</a></td>
                            <td><a href="#">Bài hát</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">MV</a></td>
                            <td><a href="#">MV</a></td>
                            <td><a href="#">MV</a></td>
                            <td><a href="#">MV</a></td>
                        </tr>
                    </table>
                </li>
                <li class="header-main-item">
                    <a href="#">Mới phát hành</a>
                </li>
                <li class="header-main-item">
                    <a href="#">Top 100</a>
                </li>
                <li class="header-main-item">
                    <a href="#">Chủ đề</a>
                </li>
                <li class="header-main-item">
                    <a href="#">MV</a>
                </li>
                <li class="header-main-item">
                    <a href="#">Album</a>
                </li>
                <li class="header-main-item">
                    <a href="#">Nghệ sỹ</a>
                </li>
                <li class="header-main-item">
                    <a href="#">Nhạc cá nhân</a>
                </li>
            </ul>
        </nav>
    </div>
</body>

</html>
